@using News.DomainClasses.Page
@model IEnumerable<News.DomainClasses.Page.Page>
@{
    ViewData["Title"] = "صفحه اصلی";
    var Sliders = ViewData["Slider"] as List<Page>;
}
@if (Sliders.Any())
{
    <div class="news-slider border-radius">
        <div id="slider-one" class="owl-carousel">
            @foreach (var item in Sliders)
            {
                <div class="item">
                    <img src="~/Images/@item.ImageName">
                    <div class="left-side">
                        <h2> <a href="/News/@item.PageId">@item.PageTitle</a> </h2>
                        <p>
                           @item.ShortDescription
                        </p>
                        <span> <i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToShamsi()</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
            </div>
        <a href="/Archive" class="news-archive"> <i class="icons icon-doc-1"></i> آرشیو کامل خبرها </a>
    </div>
}

<section class="last-news-section border-radius margin-top-60">
    <header><i class="icons icon-doc-2"></i>  <h3>آخرین آخبار ارسالی</h3> </header>
    <ul>
        @foreach (var it in Model)
        {
            <li>
                <img class="border-radius" src="~/Images/@it.ImageName">
                <h2> <a href="/News/@it.PageId"> @it.PageTitle </a></h2>
                <p>
                    @it.ShortDescription
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @it.CreateDate.ToShamsi() </span>
                <a href="" class="more-link"><i class="icons icon-more"></i></a>
            </li>
        }

    </ul>
</section>
