@model IEnumerable<News.DomainClasses.PageGroups.PageGroup>

@{
    ViewData["Title"] = "گروه های خبری";
}


<p>
    <a asp-action="Create" class="btn btn-primary">ساخت گروه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.GroupId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
