@model IEnumerable<News.DomainClasses.Page.Page>
@using News.Utilities.Converter 
@{
    ViewData["Title"] = "لیست خبرها";
}

<h2>لیست خبرها</h2>

<p>
    <a href="Create">ساخت خبر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            
         
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
           
            <td>
                <img src="~/NewsImages/@item.ImageName" class="thumbnail"  style="max-width:100px"/>
            </td>
            <td>
                @item.CreateDate.ToShamsi();
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer)
            </td>
            <td>
                <a href="Edit/@item.PageId" class="btn btn-sm btn-primary">ویرایش</a> |
                <a href="Details/@item.PageId" class="btn btn-sm btn-info">جزییات</a> |
                <a href="Delete/@item.PageId" class="btn btn-danger btn-sm">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
